<div>
  <nav class="navbar navbar-expand navbar-dark bg-dark">
    <a href="#" class="navbar-brand">EventPoint</a>
    <div class="navbar-nav mr-auto">
      <li class="nav-item">
        <a routerLink="vendors/addvendor" class="nav-link">Add</a>
      </li>
      <li class="nav-item">
        <a routerLink="vendors/vendorlist" class="nav-link">
          View List</a>
      </li>
    </div>
  </nav>
  <div class="container mt-3">
    <h2>{{ title }}</h2>
    <router-outlet>
    </router-outlet>
  </div>
</div>
